<body>
	<div style="text-align:center">
		<img id="hellogalaxy" src="../assets/images/logo_small.jpg" alt="" />
	</div>

	<br>

	<!-- Dit WERKT !! -->
	<!-- <li *ngFor="let message of messages; index as i">{{ message.code }} </li> -->

	<table class="table table-borderless" *ngIf="messages.length > 0">
		<!-- <tr ng-repeat="let m in messages"> -->
		<tr *ngFor="let m of messages; index as i">
				<td style="width:100%; text-align:justify; border:2; box-shadow:2px 5px 10px #AAAAAA" valign="top">
					<div class="d-flex flex-row-reverse">
						<small><span>{{ m.messageDate | date: 'dd-MM-yyyy' }}</span></small>
					</div>
					
					<span style="font-family:Georgia;font-size:100%" [innerHTML]="m.messageText"></span>
				</td>
			<br>
		</tr>		
	</table>  
	
</body>