
.avkflex {
    box-shadow:2px 2px 2px #AAAAAA; 
    margin-left:4px; 
    margin-right:4px; 
    margin-top:4px; 
    margin-bottom:4px;
    max-width: 32%;
}

.avkfleximg {
    width:320px;
    height:auto;
    padding-left:10%; 
    padding-right:2%; 
    margin-left:auto; 
    margin-right:auto; 
    cursor:pointer;
}

select.form-control {
    -webkit-appearance: menulist;
}

.ng-select {
    padding-top:0px;
    min-height: 35px;
    height: 35px;
    -webkit-appearance: menulist;
    -ms-expand { display: block; }
}

/* Extra Small devices (phones, > 768px) */
@media only screen and (max-width:767px){
    .avkflex {
        box-shadow:2px 2px 2px #AAAAAA; 
        margin-left:4px; 
        margin-right:4px; 
        margin-top:4px; 
        margin-bottom:4px;
        max-width: 100%;
    }
    
    .avkfleximg {
        width:320px;
        height:auto;
        padding-left:10%; 
        padding-right:2%; 
        margin-left:auto; 
        margin-right:auto; 
        cursor:pointer;
    }      

    #listlayout{
        font-size: xx-small;
    }

    #ratedby{
        display: none;
    }
}