<body>

	<!-- Filter, sort and display selection -->
	<div *ngIf="!loading">

		<div *ngIf="!addingCompany && isAdmin">
			<div class="d-flex flex-row bd-highlight mb-3">
				<div class="p-2 bd-highlight">
					<button class="btn btn-outline-secondary" type="button" (click)="openEditModal()">{{ "Add Product" | translate }}</button>
				</div>
				<div class="p-2 bd-highlight">
					<button class="btn btn-outline-secondary" type="button" (click)="addingCompany=true">{{ "Add Company" | translate }}</button>
				</div>
			</div>
		</div>

		<div *ngIf="addingCompany">
			<div class="d-flex flex-row bd-highlight mb-3 border">
				<div class="p-2 bd-highlight">
					<label for="addcompany" class="col-sm col-form-label">{{ 'Company Name' | translate }}</label>
				</div>
				<div class="p-2 bd-highlight">
					<input class="form-control" type="text" id="addcompany" [(ngModel)]="newCompanyDescription">
				</div>
				<div class="p-2 bd-highlight btn-group btn-group-toggle" role="group" style="width: auto">
					<button class="btn btn-outline-secondary" type="button" (click)="newCompanyDescription=''; addingCompany=false">{{ "Cancel" | translate }}</button>
					<button class="btn btn-primary" type="button" (click)="addCompany()">{{ "Add" | translate }}</button>
				</div>
			</div>
		</div>

		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarTabpageContent" aria-controls="navbarTabpageContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon bg-dark"></span>
				</button>
				<div class="collapse navbar-collapse bg-dark" id="navbarTabpageContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'Consoles' | translate }}</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a *ngFor="let gc of gameConsoleList" class="dropdown-item" (click)="this.codeGameConsole=gc.code;onFilterChanged()">{{ gc.description }}</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'Product Type' | translate }}</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a *ngFor="let pt of productTypeList" class="dropdown-item" (click)="this.codeProductType=pt.code;onFilterChanged()">{{ pt.description }}</a>
							</div>
						</li>
					</ul>

					<!-- Search by Product Name -->
					<div class="row justify-content-end bg-dark">
						<form class="form-inline input-group input-group-sm">
							&nbsp;&nbsp;
							<input type="text" aria-label="Search" class="form-control" [(ngModel)]="searchProductName" [ngModelOptions]="{standalone: true}" id="productName" placeholder="{{ 'Search' | translate }}">
							<button class="btn btn-sm btn-outline-light" (click)="search()"><i class="fas fa-search"> </i></button>
							&nbsp;&nbsp;
						</form>
					</div>
				</div>
			</nav>
		</div>
		<br />
		<h5>{{ selectedConsole | translate }} </h5>
		<br />
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-4">
					<form class="form-inline" [formGroup]="searchForm">
						<!-- Sortorder -->
						<div class="form-group">
							<label class="col-sm-4 col-form-label" for="selectsort">{{ 'Sort by' | translate }}</label>
							<div class="col-sm-8">
								<select class="form-control" id="selectsort" formControlName="productSortId" (change)="onSortChanged()">
									<option *ngFor="let ps of productSortList" [ngValue]="ps.id">
										<a class="dropdown-item avkdropdown">{{ ps.description }}</a>
									</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-4">
					<div class="btn-group btn-group-sm" role="group" aria-label="Select Display" data-toggle="tooltip" data-placement="top" title="Click to select display">
						<button *ngIf="listType==='list'" type="button" class="btn btn-outline-secondary active" style="cursor:pointer;"><i class="fas fa-list"></i></button>
						<button *ngIf="listType==='list'" type="button" class="btn btn-outline-secondary" style="cursor:pointer;" (click)="setListType('flex')"><i class="fas fa-th"></i></button>
						<button *ngIf="listType==='flex'" type="button" class="btn btn-outline-secondary" style="cursor:pointer;" (click)="setListType('list')"><i class="fas fa-list"></i></button>
						<button *ngIf="listType==='flex'" type="button" class="btn btn-outline-secondary active" style="cursor:pointer;"><i class="fas fa-th"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- The product list -->
	<div *ngIf="!loading">
		<div *ngIf="listType==='list'" (scrolled)="onScroll()" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="150">
			<div class="border" *ngFor="let product of products; index as i" style="box-shadow:2px 2px 2px #AAAAAA; margin-left:4px; margin-right:4px; margin-top:4px; margin-bottom:4px" (click)="openEditModal(product)">
				<div class="row">
					<div class="col-2" data-toggle="tooltip" data-placement="top" title="Click to enlarge image" style="cursor:zoom-in;">
						<div [innerHTML]="product.imageHTML | safe:'html'"></div>
					</div>
					<div class="col-4 text-wrap" style="width:30px">
						<div class="col text-wrap"><b>{{ product.name }}</b></div>
						<div class="col text-wrap"><small>{{ product.company.description }} ({{ product.year }})</small></div>
						<div class="col text-wrap"><small>{{ product.gameConsole.description }}</small></div>
					</div>
					<div class="col">
						<div class="col text-wrap" [innerHtml]="product.description | safe: 'html'"></div>
						<br>
						<div class="col text-wrap" *ngFor="let productRating of product.productRatings; index as i">
							<button *ngIf="isAdmin" class="btn btn-sm btn-outline-danger border-0" (click)="deleteProductRating(product, productRating)"><small><i class="far fa-trash-alt"></i></small></button>
							{{ 'Rated' | translate }} {{ productRating.rating }} by 
							<a href="//{{ productRating.ratingUrl.url }}" target="_blank">{{ productRating.ratingUrl.url }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="listType==='flex'" class="d-flex align-content-stretch flex-wrap bd-highlight mb-3" (scrolled)="onScroll()" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="150">
			<div class="p-2 bd-highlight border avkflex" *ngFor="let product of products; index as i">
				<div class="container">
					<div class="row">
						<div style="width:40%" (click)="openUploadImageModal(product)">
							<div data-toggle="tooltip" data-placement="top" style="cursor:zoom-in;">
								<div [innerHTML]="product.imageHTML | safe:'html'"></div>
							</div>
						</div>
						<div class="col text-wrap" style="width:30px">
							<div *ngIf="isAdmin" class="d-flex justify-content-end">
								<button class="btn btn-sm btn-outline-primary" (click)="openEditModal(product)"><i class="far fa-edit"></i></button>
							</div>
							<br>
							<div class="col text-wrap"><b>{{ product.name }}</b></div>
							<div class="col text-wrap"><small>{{ product.company.description }} ({{ product.year }})</small></div>
							<div class="col text-wrap"><small>{{ product.gameConsole.description }}</small></div>
							<div *ngIf="isAdmin" class="col text-wrap"><button class="btn btn-sm btn-outline-secondary" (click)="openRatingModal(product)">{{ 'Add Rating' | translate }}</button></div>
						</div>
					</div>
					<br>
					<div class="row" *ngFor="let productRating of product.productRatings; index as i">
						<div class="col text-wrap">
							<button *ngIf="isAdmin" class="btn btn-sm btn-outline-danger border-0" (click)="deleteProductRating(product, productRating)"><small><i class="far fa-trash-alt"></i></small></button>
							{{ 'Rated' | translate }} {{ productRating.rating }} {{ 'by' | translate }} &nbsp;
							<a href="//{{ productRating.ratingUrl.url }}" target="_blank">{{ productRating.ratingUrl.url }}</a>
						</div>
					</div>
				</div>
				<hr/>
				<div [innerHtml]="product.description | safe: 'html'"></div>
			</div>
		</div>
	</div>		

	<div *ngIf="loading">
		<br>
		<avk-loading></avk-loading>
	</div>

</body>