<body>

	<!-- Filter, sort and display selection -->
	<div *ngIf="!loading">
		<form class="form-inline" [formGroup]="searchForm">
			<!-- Sortorder -->
			<div class="form-group">
				<label for="selectsort" class="col-sm col-form-label">{{ 'Sort by' | translate }}</label>
				<ng-select id="selectsort" class="dropdown-menu" formControlName="productSortId" [editableSearchTerm]="false" [multiple]="false" [clearable]="false" (change)="onSortChanged()">
					<ng-option *ngFor="let productSort of productSortList" [value]="productSort.id">
						<a class="dropdown-item avkdropdown">{{ productSort.description }}</a>
					</ng-option>
				</ng-select>
			</div>

			<!-- Game Console Filter -->
			<div class="form-group">
				<label for="selectconsole" class="col-sm col-form-label">{{ 'Game Console' | translate }}</label>
				<ng-select id="selectconsole" class="dropdown-menu" [editableSearchTerm]="false" [multiple]="false" formControlName="codeGameConsole" [clearable]="false" (change)="onFilterChanged()">
					<ng-option *ngFor="let gameConsole of gameConsoleList" [value]="gameConsole.code">
						<a class="dropdown-item avkdropdown">{{ gameConsole.description }}</a>
					</ng-option>
				</ng-select>
			</div>

			<!-- Product Type Filter -->
			<div class="form-group">
				<label for="selectproducttype" class="col-sm col-form-label">{{ 'Product Type' | translate }}</label>
				<ng-select id="selectproducttype" class="dropdown-menu" [editableSearchTerm]="false" [multiple]="false" formControlName="codeProductType" [clearable]="false" (change)="onFilterChanged()">
					<ng-option *ngFor="let productType of productTypeList" [value]="productType.code">
						<a class="dropdown-item avkdropdown">{{ productType.description }}</a>
					</ng-option>
				</ng-select>
			</div>

		</form>

		<!-- Search by Product Name -->
		<div class="container">
			<br>
			<div class="row justify-content-start">
				<div class="col-md-4">
					<div class="input-group">
						<input type="text" class="form-control search" [(ngModel)]="searchProductName" id="productName" placeholder="{{ 'Search title' | translate }}">
						<div class="input-group-append btn-group search">
							<button class="btn btn-sm btn-outline-primary" (click)="search()"><i class="fas fa-search"> </i></button>
						</div>
						<!-- <ng-select id="productName" class="dropdown-menu" [typeahead]="searchSubject" [(ngModel)]="searchProductName" [editableSearchTerm]="true" [multiple]="false" [clearable]="true">
							<ng-option *ngFor="let item of searchProductNames" [value]="item">
								<a class="dropdown-item avkdropdown">{{ item }}</a>
							</ng-option>
						</ng-select>	
						<div class="input-group-append btn-group searchbutton">
							<button class="btn btn-sm btn-outline-primary" (click)="search()"><i class="fas fa-search"> </i></button>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		
		<br>

		<div>
			<div class="btn-group btn-group-sm" role="group" aria-label="Select Theme" data-toggle="tooltip" data-placement="top" title="Click to select layout">
				<button *ngIf="listType==='list'" type="button" class="btn btn-outline-secondary active" style="cursor:pointer;"><i class="fas fa-list"></i></button>
				<button *ngIf="listType==='list'" type="button" class="btn btn-outline-secondary" style="cursor:pointer;" (click)="setListType('flex')"><i class="fas fa-th"></i></button>
				<button *ngIf="listType==='flex'" type="button" class="btn btn-outline-secondary" style="cursor:pointer;" (click)="setListType('list')"><i class="fas fa-list"></i></button>
				<button *ngIf="listType==='flex'" type="button" class="btn btn-outline-secondary active" style="cursor:pointer;"><i class="fas fa-th"></i></button>
			</div>
		</div>
	</div>

	<!-- The product list -->
	<div *ngIf="!loading">
		<div *ngIf="listType==='list'" (scrolled)="onScroll()" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="150">
			<div class="border" *ngFor="let product of products; index as i" style="box-shadow:2px 2px 2px #AAAAAA; margin-left:4px; margin-right:4px; margin-top:4px; margin-bottom:4px" (click)="openModal(product)">
					<div class="row">
						<div class="col-2" data-toggle="tooltip" data-placement="top" title="Click to enlarge image" style="cursor:zoom-in;">
							<img class="col" onerror="this.style.display='none'" [src]="imageUrl + product.code" alt="missing picture" style="width:95%;height:auto;padding-left:10%; padding-right:2%; margin-left:auto; margin-right:auto; cursor:pointer;"/>
						</div>
						<div class="col-4 text-wrap" style="width:30px">
							<div class="col text-wrap"><b>{{ product.name }}</b></div>
							<div class="col text-wrap"><small>{{ product.company.description }} ({{ product.year }})</small></div>
							<div class="col text-wrap"><small>{{ product.gameConsole.description }}</small></div>
						</div>
						<div class="col">
							<div class="col text-wrap" [innerHtml]="product.description | safe: 'html'"></div>
							<br>
							<div class="col text-wrap" *ngFor="let productRating of product.productRatings; index as i">
								{{ 'Rated' | translate }} {{ productRating.rating }} by 
								<a href="//{{ productRating.ratingUrl.url }}" target="_blank">{{ productRating.ratingUrl.url }}</a>
							</div>
						</div>
				</div>
			</div>
		</div>

		<div *ngIf="listType==='flex'" class="d-flex align-content-stretch flex-wrap bd-highlight mb-3" (scrolled)="onScroll()" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="150">
			<div class="p-2 bd-highlight border avkflex" *ngFor="let product of products; index as i" (click)="openModal(product)">
				<div>
					<div class="row">
						<div style="width:40%">
							<div data-toggle="tooltip" data-placement="top" title="Click to enlarge image" style="cursor:zoom-in;">
								<img class="col avkfleximg" onerror="this.style.display='none'" [src]="imageUrl + product.code" alt="missing picture"/>
							</div>
						</div>
						<div class="col text-wrap" style="width:30px">
							<div class="col text-wrap"><b>{{ product.name }}</b></div>
							<div class="col text-wrap"><small>{{ product.company.description }} ({{ product.year }})</small></div>
							<div class="col text-wrap"><small>{{ product.gameConsole.description }}</small></div>
							<br>
							<div *ngFor="let productRating of product.productRatings; index as i">
								{{ 'Rated' | translate }} {{ productRating.rating }} by 
								<a href="//{{ productRating.ratingUrl.url }}" target="_blank">{{ productRating.ratingUrl.url }}</a>
							</div>
						</div>
					</div>
				</div>
				<hr/>
				<div [innerHtml]="product.description | safe: 'html'"></div>
			</div>
		</div>
	</div>		

	<div *ngIf="loading">
		<br>
		<avk-loading></avk-loading>
	</div>

</body>