
.avkflex {
    box-shadow:2px 2px 2px #AAAAAA; 
    margin-left:4px; 
    margin-right:4px; 
    margin-top:4px; 
    margin-bottom:4px;
}

.avkfleximg {
    width:320px;
    height:auto;
    padding-left:10%; 
    padding-right:2%; 
    margin-left:auto; 
    margin-right:auto; 
    cursor:pointer;
}

.avkdropdown {
    background: #FFFFFF;
}

.ng-select {
    padding-top:0px;
    min-height: 35px;
    height: 35px;
    -webkit-appearance: menulist;
    -ms-expand { display: block; }
}

.search {
    min-height: 35px;
    height: 35px;
}

.searchbutton {
    padding-top:2px;
    min-height: 37px;
    height: 37px;
}
