<body>

	<!-- Filter, sort and display selection -->
	<div *ngIf="!loading">

		<div *ngIf="!addingCompany && isAdmin">
			<div class="d-flex flex-row bd-highlight mb-3">
				<div class="p-2 bd-highlight">
					<button class="btn btn-outline-secondary" type="button" (click)="openEditModal()">{{ "Add Product" | translate }}</button>
				</div>
				<div class="p-2 bd-highlight">
					<button class="btn btn-outline-secondary" type="button" (click)="addingCompany=true">{{ "Add Company" | translate }}</button>
				</div>
			</div>
		</div>

		<div *ngIf="addingCompany">
			<div class="d-flex flex-row bd-highlight mb-3 border">
				<div class="p-2 bd-highlight">
					<label for="addcompany" class="col-sm col-form-label">{{ 'Company Name' | translate }}</label>
				</div>
				<div class="p-2 bd-highlight">
					<input class="form-control" type="text" id="addcompany" [(ngModel)]="newCompanyDescription">
				</div>
				<div class="p-2 bd-highlight btn-group btn-group-toggle" role="group" style="width: auto">
					<button class="btn btn-outline-secondary" type="button" (click)="newCompanyDescription=''; addingCompany=false">{{ "Cancel" | translate }}</button>
					<button class="btn btn-primary" type="button" (click)="addCompany()">{{ "Add" | translate }}</button>
				</div>
			</div>
		</div>
	
		<form class="d-flex form-inline" [formGroup]="searchForm">
			<!-- Game Console Filter -->
			<div class="form-group">
				<label class="col-sm-4" for="selectconsole">{{ 'Console' | translate }}</label>
				<div class="col-sm-8">
					<select class="form-control" id="selectconsole" formControlName="codeGameConsole" (change)="onFilterChanged()">
						<option *ngFor="let gc of gameConsoleList" [ngValue]="gc.code">
							<a class="dropdown-item avkdropdown">{{ gc.description }}</a>
						</option>
					</select>
				</div>
			</div>
	
			<!-- Product Type Filter -->
			<div class="form-group">
				<label class="col-sm-6 col-form-label" for="selectproducttype">{{ 'Product Type' | translate }}</label>
				<div class="col-sm-6">
					<select class="form-control" id="selectproducttype" formControlName="codeProductType" (change)="onFilterChanged()">
						<option *ngFor="let pt of productTypeList" [ngValue]="pt.code">
							<a class="dropdown-item avkdropdown">{{ pt.description }}</a>
						</option>
					</select>
				</div>
			</div>
			<!-- Sortorder -->
			<div class="form-group">
				<label class="col-sm-4 col-form-label" for="selectsort">{{ 'Sort by' | translate }}</label>
				<div class="col-sm-8">
					<select class="form-control" id="selectsort" formControlName="productSortId" (change)="onFilterChanged()">
						<option *ngFor="let ps of productSortList" [ngValue]="ps.id">
							<a class="dropdown-item avkdropdown">{{ ps.description }}</a>
						</option>
					</select>
				</div>
			</div>
		</form>

		<!-- Search by Product Name -->
		<div class="container">
			<br>
			<div class="row justify-content-start">
				<div class="col-md-4">
					<div class="input-group">
						<input type="text" class="form-control search" [(ngModel)]="searchProductName" id="productName" placeholder="{{ 'Search title' | translate }}">
						<div class="input-group-append btn-group search">
							<button class="btn btn-sm btn-outline-primary" (click)="search()"><i class="fas fa-search"> </i></button>
						</div>
						<!-- <ng-select id="productName" class="dropdown-menu" [typeahead]="searchSubject" [(ngModel)]="searchProductName" [editableSearchTerm]="true" [multiple]="false" [clearable]="true">
							<ng-option *ngFor="let item of searchProductNames" [value]="item">
								<a class="dropdown-item avkdropdown">{{ item }}</a>
							</ng-option>
						</ng-select>	
						<div class="input-group-append btn-group searchbutton">
							<button class="btn btn-sm btn-outline-primary" (click)="search()"><i class="fas fa-search"> </i></button>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		
		<br>

		<div>
			<div class="btn-group btn-group-sm" role="group" aria-label="Select Theme" data-toggle="tooltip" data-placement="top" title="Click to select layout">
				<button *ngIf="listType==='list'" type="button" class="btn btn-outline-secondary active" style="cursor:pointer;"><i class="fas fa-list"></i></button>
				<button *ngIf="listType==='list'" type="button" class="btn btn-outline-secondary" style="cursor:pointer;" (click)="setListType('flex')"><i class="fas fa-th"></i></button>
				<button *ngIf="listType==='flex'" type="button" class="btn btn-outline-secondary" style="cursor:pointer;" (click)="setListType('list')"><i class="fas fa-list"></i></button>
				<button *ngIf="listType==='flex'" type="button" class="btn btn-outline-secondary active" style="cursor:pointer;"><i class="fas fa-th"></i></button>
			</div>
		</div>
	</div>

	<!-- The product list -->
	<div *ngIf="!loading">
		<div *ngIf="listType==='list'" (scrolled)="onScroll()" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="150">
			<div class="border" *ngFor="let product of products; index as i" style="box-shadow:2px 2px 2px #AAAAAA; margin-left:4px; margin-right:4px; margin-top:4px; margin-bottom:4px" (click)="openEditModal(product)">
				<div class="row">
					<div class="col-2" data-toggle="tooltip" data-placement="top" title="Click to enlarge image" style="cursor:zoom-in;">
						<div [innerHTML]="product.imageHTML | safe:'html'"></div>
					</div>
					<div class="col-4 text-wrap" style="width:30px">
						<div class="col text-wrap"><b>{{ product.name }}</b></div>
						<div class="col text-wrap"><small>{{ product.company.description }} ({{ product.year }})</small></div>
						<div class="col text-wrap"><small>{{ product.gameConsole.description }}</small></div>
					</div>
					<div class="col">
						<div class="col text-wrap" [innerHtml]="product.description | safe: 'html'"></div>
						<br>
						<div class="col text-wrap" *ngFor="let productRating of product.productRatings; index as i">
							<button *ngIf="isAdmin" class="btn btn-sm btn-outline-danger border-0" (click)="deleteProductRating(product, productRating)"><small><i class="far fa-trash-alt"></i></small></button>
							{{ 'Rated' | translate }} {{ productRating.rating }} by 
							<a href="//{{ productRating.ratingUrl.url }}" target="_blank">{{ productRating.ratingUrl.url }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="listType==='flex'" class="d-flex align-content-stretch flex-wrap bd-highlight mb-3" (scrolled)="onScroll()" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="150">
			<div class="p-2 bd-highlight border avkflex" *ngFor="let product of products; index as i">
				<div class="container">
					<div class="row">
						<div style="width:40%" (click)="openUploadImageModal(product)">
							<div data-toggle="tooltip" data-placement="top" style="cursor:zoom-in;">
								<div [innerHTML]="product.imageHTML | safe:'html'"></div>
							</div>
						</div>
						<div class="col text-wrap" style="width:30px">
							<div *ngIf="isAdmin" class="d-flex justify-content-end">
								<button class="btn btn-sm btn-outline-primary" (click)="openEditModal(product)"><i class="far fa-edit"></i></button>
							</div>
							<br>
							<div class="col text-wrap"><b>{{ product.name }}</b></div>
							<div class="col text-wrap"><small>{{ product.company.description }} ({{ product.year }})</small></div>
							<div class="col text-wrap"><small>{{ product.gameConsole.description }}</small></div>
							<div *ngIf="isAdmin" class="col text-wrap"><button class="btn btn-sm btn-outline-secondary" (click)="openRatingModal(product)">{{ 'Add Rating' | translate }}</button></div>
						</div>
					</div>
					<br>
					<div class="row" *ngFor="let productRating of product.productRatings; index as i">
						<div class="col text-wrap">
							<button *ngIf="isAdmin" class="btn btn-sm btn-outline-danger border-0" (click)="deleteProductRating(product, productRating)"><small><i class="far fa-trash-alt"></i></small></button>
							{{ 'Rated' | translate }} {{ productRating.rating }} {{ 'by' | translate }} &nbsp;
							<a href="//{{ productRating.ratingUrl.url }}" target="_blank">{{ productRating.ratingUrl.url }}</a>
						</div>
					</div>
				</div>
				<hr/>
				<div [innerHtml]="product.description | safe: 'html'"></div>
			</div>
		</div>
	</div>		

	<div *ngIf="loading">
		<br>
		<avk-loading></avk-loading>
	</div>

</body>