<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav">
			<a *ngIf="tabpage == CONSTANTS" class="nav-item nav-link active">{{ tabpages[CONSTANTS].menutitle | translate }}</a>
			<a *ngIf="tabpage !== CONSTANTS" class="nav-item nav-link" (click)="setTabPage(CONSTANTS)">{{ tabpages[CONSTANTS].menutitle | translate }}</a>
			
			<a *ngIf="tabpage == USERS" class="nav-item nav-link active">{{ tabpages[USERS].menutitle | translate }}</a>
			<a *ngIf="tabpage !== USERS" class="nav-item nav-link" (click)="setTabPage(USERS)">{{ tabpages[USERS].menutitle | translate }}</a>
			
			<a *ngIf="tabpage == CODETABLES" class="nav-item nav-link active">{{ tabpages[CODETABLES].menutitle | translate }}</a>
			<a *ngIf="tabpage !== CODETABLES" class="nav-item nav-link" (click)="setTabPage(CODETABLES)">{{ tabpages[CODETABLES].menutitle | translate }}</a>
		  </div>
		</div>
	</nav>

	<br>

	<div *ngIf="tabpage == CONSTANTS">
		<h2>{{ tabpages[CONSTANTS].title | translate }}</h2>
		<br>
		<form [formGroup]="constantsForm">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="guestAvatar"> {{ 'Guest Avatar' | translate }}</label>
				<div class="col-sm-4">
					<input type="file" id="guestAvatar" formControlName="guestAvatar" (change)="onUploadGuestAvatar($event)" #fileInput>
				</div>
				<div class="col-sm-2 col-form-control" data-toggle="tooltip" data-placement="top" style="cursor:zoom-in;">
					<img style="width:auto; height:40px;" onerror="this.style.display='block'" [src]="guestImageUrl" alt="missing picture"/>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="webLogo"> {{ 'Web Logo' | translate }}</label>
				<div class="col-sm-4">
					<input type="file" id="webLogo" formControlName="webLogo" (change)="onUploadWebLogo($event)" #fileInput>
				</div>
				<div class="col-sm-2 col-form-control" data-toggle="tooltip" data-placement="top" style="cursor:zoom-in;">
					<img style="width:auto; height:40px;" onerror="this.style.display='block'" [src]="webLogoUrl" alt="missing picture"/>
				</div>
			</div>
			
			<br><hr><br>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="acmeAddress"> {{ 'Acme Address' | translate }}</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" id="acmeAddress" formControlName="acmeAddress">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="acme"> {{ 'Acme Id' | translate }}</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" id="acme" formControlName="acme">
				</div>
			</div>

			<button type="button" class="btn btn-primary" (click)="onSaveConstants()">{{ 'Apply Changes' | translate }}</button> 
		</form>
		<br><br><br><br><br>
	</div>

	<div *ngIf="tabpage == USERS">
		<h2>{{ tabpages[USERS].title | translate }}</h2>

		<div>
			<button class="btn btn-sm btn-primary" type="button" (click)="openEditModal(null)">
				<span> {{ 'Add User' | translate }} </span>
			</button>
			<br><br>
		</div>

		<table class="table table-hover table-striped">
			<thead>
				<th>{{ 'Full Name'| translate }}</th>
				<th>{{ 'Username'| translate }}</th>
				<th>{{ 'Email Address'| translate }}</th>
				<th>{{ 'Role'| translate }}</th>
			</thead>
			<tbody>
			    <tr *ngFor="let user of users" (click)="openEditModal(user)">
					<td>{{ user.displayName }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.emailAddress }}</td>
					<td>{{ user.classification?.description }}</td>
			    </tr>
			</tbody>
			<tfoot>
				<tr class="text-secondary small">
					{{ 'Total number of users' }}: {{ users?.length }}
				</tr>
			</tfoot>
		</table>
		<br><br><br><br>
	</div>

	<div *ngIf="tabpage == CODETABLES">
		<h2>{{ tabpages[CODETABLES].title | translate }}</h2>
		<div>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav">
				<li *ngIf="codetable == COMPANIES" class="nav-item nav-link active">{{ codeTables[COMPANIES].menutitle | translate }}</li>
				<li *ngIf="codetable !== COMPANIES" class="nav-item nav-link" (click)="selectCodeTable(COMPANIES)">{{ codeTables[COMPANIES].menutitle | translate }}</li>

				<li *ngIf="codetable == GAMECONSOLES" class="nav-item nav-link active">{{ codeTables[GAMECONSOLES].menutitle | translate }}</li>
				<li *ngIf="codetable !== GAMECONSOLES" class="nav-item nav-link" (click)="selectCodeTable(GAMECONSOLES)">{{ codeTables[GAMECONSOLES].menutitle | translate }}</li>

				<li *ngIf="codetable == PRODUCTTYPES" class="nav-item nav-link active">{{ codeTables[PRODUCTTYPES].menutitle | translate }}</li>
				<li *ngIf="codetable !== PRODUCTTYPES" class="nav-item nav-link" (click)="selectCodeTable(PRODUCTTYPES)">{{ codeTables[PRODUCTTYPES].menutitle | translate }}</li>

				<li *ngIf="codetable == RATINGURLS" class="nav-item nav-link active">{{ codeTables[RATINGURLS].menutitle | translate }}</li>
				<li *ngIf="codetable !== RATINGURLS" class="nav-item nav-link" (click)="selectCodeTable(RATINGURLS)">{{ codeTables[RATINGURLS].menutitle | translate }}</li>
			  </ul>		  
			</div>
		</nav>
		<br>
		<div *ngIf="selectedCodeTable && selectedCodeTable.length > 0">
			<ngb-pagination *ngIf="!disablePaging" [(page)]="page" [pageSize]="pageSize" [collectionSize]="selectedCodeTable.length"></ngb-pagination>		

			<div class="text-secondary small"> {{ 'Number of rows' | translate }}: {{ selectedCodeTable.length }} </div>
			<table class="table table-hover table-striped">
				<thead>
					<th style="width:10%;">{{ 'Code'| translate }}</th>
					<th *ngIf="codetable != RATINGURLS" style="width:80%;">{{ 'Description'| translate }}</th>
					<th *ngIf="codetable == RATINGURLS" style="width:80%;">{{ 'URL'| translate }}</th>
					<th *ngIf="codetable == GAMECONSOLES" style="width:10%;">{{ 'Sortorder'| translate }}</th>
				</thead>
				<tbody *ngIf="disablePaging">
					<tr *ngFor="let ct of selectedCodeTable" (click)="onCodeTableRowClicked(ct)">
						<td>{{ ct.code }}</td>
						<td *ngIf="ct.description">{{ ct.description }}</td>
						<td *ngIf="ct.url">{{ ct.url }}</td>
						<td>{{ ct.sortorder }}</td>
					</tr>
				</tbody>
				<tbody *ngIf="!disablePaging">
					<tr *ngFor="let ct of selectedCodeTable | slice: (page) * pageSize : (page) * pageSize + pageSize" (click)="onCodeTableRowClicked(ct)">
						<td>{{ ct.code }}</td>
						<td>{{ ct.description }}</td>
					</tr>
				</tbody>
			</table>

			<ngb-pagination *ngIf="!disablePaging" [(page)]="page" [pageSize]="pageSize" [collectionSize]="selectedCodeTable.length"></ngb-pagination>		
		</div>

	</div>

</body>