#hellogalaxy{
    width:70%; 
    border:2; 
    box-shadow:2px 5px 10px #66A0A0;
}

#messagetext{
    font-family:sans-serif;
    font-size:100%;
}

select.form-control {
    -webkit-appearance: menulist;
}
