
.dropdown-toggle::after {
    display:none;
}

#abouttext{
    font-family:sans-serif;
    font-size: small
}

#basepanelleft {
    padding-left: 10px;
    padding-right: 10px;
    top:75px;
    position: -webkit-sticky;
    position: sticky;
    width:100%; 
    text-align:justify;
}

#mypicture {
    padding-left: 40px;
    top:75px;
    position: -webkit-sticky;
    position: sticky;
}

#centerpanel{
    min-height: 100%; 
    border: thin solid white; 
    box-shadow:5px 5px 10px grey;
}

#basepanelright {
    padding-left: 10px; 
    padding-right: 10px;
    top:75px;
    position: -webkit-sticky;
    position: sticky;
    text-align:justify;
}

/* Small devices and up (tablets, 768px and up) */
@media only screen and (min-width:768px){
    #logo_small{
        display:none;
    } 
        
    #centerpanel{
        padding-left: 10px; 
        padding-right: 10px; 
    }

    #footerabout{
        display:none;
    }  
}

/* Extra Small devices (phones, > 768px) */
 @media only screen and (max-width:767px){
    #basepanelleft{
        display:none;
    }

    #mypicture {
        display:none;
    }
    
    #basepanelright{
        display:none;
    }
    
    #centerpanel{
        margin-left: 3px; 
        margin-right: 4px; 
        padding-left: 1px; 
        padding-right: 1px; 
    }
    
    #footerabout{
        display:block;
    }
    
    #logo_big{
        display:none;
    }
}