<body id="myapproot">
	<div class="fixed-top">
		<nav class="navbar navbar-expand-lg navbar-dark" id="topmenu">

			<div id ="logo_big">
			  <a class="navbar-brand" href="/" style="font-family: verdana, sans-serif;font-weight: bold;font-size: 150%;color:#FFFFFF;text-shadow:2px 2px #9999FF" data-toggle="tooltip" data-placement="top" title="Click to go back to homepage">
				ALVANKLAVEREN.COM
			  </a>
			  <a class="navbar-brand" href="/" style="font-family: verdana, sans-serif;font-weight: bold;font-size: 30%;color:#FFFFFF;text-shadow:1px 1px #9999FF" data-toggle="tooltip" data-placement="top" title="Click to go back to homepage">
			  .ORG<br>
			  .NET<br>
			  .NL<br>
			  </a>	
			</div>
			<div id ="logo_small">
			  <a class="navbar-brand" href="/" style="font-family: verdana, sans-serif;font-weight: bold;font-size: 130%;color:#FFFFFF;text-shadow:2px 2px #9999FF" data-toggle="tooltip" data-placement="top" title="Click to go back to homepage">
				ALVANKLAVEREN.COM
				<br>
			  </a>
			</div>
			<div>
				<button class="navbar-toggler navbar-toggler-right" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" aria-label="Toggle navigation">
					 <span class="navbar-toggler-icon"></span>
				</button>
			</div>    
		  
		  
			<div class="collapse navbar-collapse justify-content-end" [ngbCollapse]="isMenuCollapsed" id="navbarSupportedContent">
				<ul class="navbar-nav align-items-end" id="menuItems">
					<li class="nav-item" *ngFor="let menuItem of menuItems">
						 <a *ngIf="menuItem.description !== 'Administrator' && !menuItem.disabled" class="nav-link" href="{{ menuItem.url }}">{{ menuItem.description | translate }}</a>
						 <a *ngIf="menuItem.description === 'Administrator' && !menuItem.disabled" class="nav-link" href="{{ menuItem.url }}"><i class="fas fa-cog"></i></a>
					</li>
				</ul>
			</div>
		</nav>  
		
  	</div>
  
	<br><br><br>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-2" id="basepanelleft">
				<div id="mypicture">
					<img src="./assets/images/me.jpg" alt="me" width="85%" class="rounded-circle"/>
				</div>
			</div>
			
			<div class="col" id="centerpanel">

				<div><small><br/></small></div>
	
				<div>
					<div class="btn-group btn-group-sm" role="group" aria-label="Select Theme" data-toggle="tooltip" data-placement="top" title="Click to select theme">
						<button *ngIf="theme==='light'" type="button" class="btn btn-outline-secondary active" style="cursor:pointer;">{{ 'Light' | translate }}</button>
						<button *ngIf="theme==='light'" (click)="setTheme('dark')" type="button" class="btn btn-outline-secondary" style="cursor:pointer;">{{ 'Dark' | translate }}</button>
						<button *ngIf="theme==='dark'" (click)="setTheme('light')" type="button" class="btn btn-outline-secondary" style="cursor:pointer;">{{ 'Light' | translate }}</button>
						<button *ngIf="theme==='dark'" type="button" class="btn btn-outline-secondary active" style="cursor:pointer;">{{ 'Dark' | translate }}</button>
					</div>  
					
					<div style="float:right;">
						<div ngbDropdown class="d-inline-block col-auto">
							<button ngbDropdownToggle class="btn btn-sm" type="button" id="dropDownLanguage">
								<img src='{{ flagIcon }}' width=40px height=40px alt='English'>
						  	</button>
							<div ngbDropdownMenu aria-labelledby="dropDownLanguage">
								<button ngbDropdownItem id="flag_us" (click)="changeLanguage('us')" style="cursor:pointer;"><img src="../assets/fonts/flag_us.svg" width=35px height=35px alt=''> English</button>
								<button ngbDropdownItem id="flag_nl" (click)="changeLanguage('nl')" style="cursor:pointer;"><img src="../assets/fonts/flag_nl.svg" width=35px height=35px alt=''> Dutch</button>
							</div>
					    </div>
					</div>
				</div>

				<div><a style="font-size:2; text-align:center"><br></a></div>

				<div *ngIf="errormessage" class="alert alert-warning alert-dismissible fade show" role="alert">
					<a id="errormessage">{{ errormessage }}</a>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onErrorMessageClick()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div *ngIf="successmessage" class="alert alert-success alert-dismissible fade show" role="alert">
					<a id="successmessage">{{ successmessage }} </a>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onSuccesMessageClick()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div><a style="font-size:4; text-align:center"><br></a></div>
							
				<router-outlet></router-outlet>
			</div>
			
			<div class="col-2" id="basepanelright">
				<div id="basepanelright">
					<h4>{{ aboutText | translate }}</h4>
					<div id="abouttext">
						<span #aboutDiv></span>
						<a id="myemail" href="mailto:{{ mailTo }}">message</a>
					</div>
				</div>
			</div>
			
			<div style="clear:both"> </div>
		
			<br><hr>
		
		</div>
	</div>

	<div id="footer" id="footer">
		<hr>
		<div style="text-align: center">
			<a style="color:#999999">alvanklaveren.com </a>
			<a style="color:#999999">{{ today }}</a>
			<br><br>
		</div>
	</div>

</body>