<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="./assets/images/avk.ico">

	<title id="pagetitle">AVK</title>
</head>

<body id="avkTheme">
	<div class="fixed-top">
		<nav class="navbar navbar-expand-lg navbar-dark" id="topmenu">

			<div id ="logo_big">
			  <a class="navbar-brand" href="/" style="font-family: verdana, sans-serif;font-weight: bold;font-size: 150%;color:#FFFFFF;text-shadow:2px 2px #9999FF" data-toggle="tooltip" data-placement="top" title="Click to go back to homepage">
				ALVANKLAVEREN.COM
			  </a>
			  <a class="navbar-brand" href="/" style="font-family: verdana, sans-serif;font-weight: bold;font-size: 30%;color:#FFFFFF;text-shadow:1px 1px #9999FF" data-toggle="tooltip" data-placement="top" title="Click to go back to homepage">
			  .ORG<br>
			  .NET<br>
			  .NL<br>
			  </a>	
			</div>
			<div id ="logo_small">
			  <a class="navbar-brand" href="/" style="font-family: verdana, sans-serif;font-weight: bold;font-size: 130%;color:#FFFFFF;text-shadow:2px 2px #9999FF" data-toggle="tooltip" data-placement="top" title="Click to go back to homepage">
				ALVANKLAVEREN.COM
				<br>
			  </a>
			</div>
			<div>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					 <span class="navbar-toggler-icon"></span>
				</button>
			</div>    
		  
		  
			<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
				 <ul class="navbar-nav align-items-end" id="menuItems">
					<li class="nav-item"><a class="nav-link" href="/">{{ 'Home' }}</a></li>
					<li class="nav-item"><a class="nav-link" href="/forum">{{ 'Forum' }}</a></li>
					<li class="nav-item"><a class="nav-link" href="/gameshop">{{ 'My Game Collection' }}</a></li>		
					<li class="nav-item"><a class="nav-link" href="/articles">{{ 'Articles' }}</a></li>		
					<li class="nav-item"><a class="nav-link" href="/aboutme">{{ 'About Me' }}</a></li>		
				 </ul>
			</div>
		</nav>  
		
  	</div>
  
  	<br><br><br>

	<div>
		<div class="row">
			<div class="col">    
				<div id="mypicture">
					<img src="./assets/images/me.jpg" alt="me" width="85%" class="rounded-circle"/>
				</div>
			</div>
			
			<div class="col-8" id="centerpanel">

				<small><br/></small>
	
				<div>
					<div class="btn-group btn-group-sm" role="group" aria-label="Select Theme" data-toggle="tooltip" data-placement="top" title="Click to select theme">
						<button type="button" class="btn btn-outline-secondary" style="cursor:pointer;" id="light">Light</button>
						<button type="button" class="btn btn-outline-secondary" style="cursor:pointer;" id="dark">Dark</button>
					</div>  
					
					<div class="btn-group btn-group-sm dropleft" role="group" aria-label="Select Language" style="float:right;" data-toggle="tooltip" data-placement="top" title="Click to select language">
					<span id="flag_selected" id="btnGroupDropLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
					<div class="dropdown-menu" aria-labelledby="btnGroupDropLanguage">
						<button type="button" class="dropdown-item" id="flag_gb" style="cursor:pointer;">1</button>
						<button type="button" class="dropdown-item" id="flag_nl" style="cursor:pointer;">2</button>
					</div>
					</div>      	
				</div>

				<a style="font-size:2; text-align:center"><br></a>

				<div *ngIf="errormessage" class="alert alert-warning alert-dismissible fade show" role="alert">
					<a id="errormessage">{{ errormessage }}</a>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onErrorMessageClick()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div *ngIf="successmessage" class="alert alert-success alert-dismissible fade show" role="alert">
					<a id="successmessage">{{ successmessage }} </a>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onSuccesMessageClick()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<a style="font-size:4; text-align:center"><br></a>
							
			<router-outlet></router-outlet>
			</div>
			
			<div class="col">
				<div id="basepanelright" style="width:100%; text-align:justify;">
					<h4 id="aboutwebsite">About ...</h4>
					<p>
					<small>
						<span id="aboutwebsitetext"></span><a id="myemail"> ... </a>
					</small>
					</p>
				</div>	  
			</div>
			
			<div style="clear:both"> </div>
		
			<br><hr>
			
		</div>
	</div>

	<div id="footer" id="footer"></div>

	<div class="alert alert-dismissible text-center cookiealert" role="alert">
	  <div class="cookiealert-container">
    	<small>This site only uses technical cookies that are necessary for this site to function. By continuing to use this site   
  		you consent to the use of cookies on your device. If you disabled cookies in your browser settings, this site may 
  	 	not function properly.<a href="http://cookiesandyou.com/" target="_blank">Learn more about cookies.</a></small>
  	 	<br>
  	 	<div style="display: flex;justify-content: center;">
	    	<button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">Understood</button>
	    </div>
	  </div>
	</div>

</body>