<div class="modal-header">
    <h5 class="modal-title">Cookies</h5>
</div>
<div class="modal-body">
    <!-- <p id="cookiemessage" [innerHtml]="cookiemessage | safe:'html'"></p> -->
    <p>
        <b>Cookies</b><br>This site only uses technical cookies that are necessary for this site to function. By continuing 
            to use this site you accept the use of these cookies on your device. If you disabled cookies in your browser settings,
            this site may not function properly. <a href="http://cookiesandyou.com/" target="_blank">Learn more about cookies.</a>
            <br>
    </p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close" (click)="onClose()">{{ okButton }}</button>
</div>
