<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'Message Image(s)' | translate }}&nbsp;...</h4>
    <button type="button" class="close" aria-label="Close" (click)="onDismiss()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <h4>{{ 'Upload Image' | translate }}</h4>
    <div class="row border">
        <input type="file" (change)="onFileChanged($event)" #fileInput>
        <button class="btn btn-sm btn-outline-primary" type="button" (click)="uploadImage()">{{ "Upload Image" | translate }}</button>
    </div>
    <br><br>
    <h4>{{ 'Select Image' | translate }}</h4>
    <div class="d-flex align-content-stretch flex-wrap bd-highlight mb-3">
        <div class="row p-2 bd-highlight border">
            <div class="border" *ngFor="let mi of messageImages" (click)="onSelectImage(mi.code)" data-toggle="tooltip" data-placement="top" title="Click to select image" style="cursor:pointer;">
                <img class="messageimage" [src]="messageImageUrl + mi.code" alt=""/>
                <br>
                <div class="text-center">
                    <small><b>{{ mi.code }}</b></small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-outline-secondary" type="button" (click)="onClose()">{{ "Cancel" | translate }}</button>
</div>