<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'Add Rating' | translate }}&nbsp;...</h4>
    <button type="button" class="close" aria-label="Close" (click)="onDismiss()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="editForm">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="codeRatingUrl">{{ 'Rating Url' | translate }}</label>
            <div class="col-sm-8">
                <select class="form-control" id="codeRatingUrl" formControlName="codeRatingUrl">
                    <option *ngFor="let ru of ratingUrlList" [ngValue]="ru.code">
                        <a class="dropdown-item avkdropdown">{{ ru.url }}</a>
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="rating"> {{ 'Rating' | translate }}</label>
            <div class="col-sm-8">
                <input class="form-control" type="number" id="rating" formControlName="rating">
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="btn-group btn-group-toggle" role="group" style="width: auto">
        <button class="btn btn-outline-secondary" type="button" (click)="onClose()">{{ "Cancel" | translate }}</button>
        <button class="btn btn-primary" [disabled]="!editForm.valid" type="button" (click)="onSave()">{{ "Save" | translate }}</button>
    </div>
</div>