<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'Upload Image' | translate }}&nbsp;...</h4>
    <button type="button" class="close" aria-label="Close" (click)="onDismiss()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <input type="file" (change)="onFileChanged($event)" #fileInput>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="uploadImage()">{{ 'Upload Image' | translate }}</button>
    <button class="btn btn-outline-secondary" type="button" (click)="onClose()">{{ 'Cancel' | translate }}</button>
</div>