<body>

	<div>
		<H1 id="neonText" class="blog-title">{{ 'Daily Dutch News' | translate }}</H1>
	</div>

	<div *ngIf="!loading && isAdmin">
		<div>
			<button class="btn btn-primary" type="button" (click)="generateDailies()">{{ "Generate Dailies" }}</button>
		</div>
		<div>
			<button class="btn btn-outline-secondary" type="button">
				<a href="https://console.x.ai">X Developer Console for AI</a>
			</button>
		</div>

	</div>

	<div *ngIf="loading">
		<br>
		<avk-loading></avk-loading>
	</div>

	<div (scrolled)="onScroll()" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="150">
		<table class="table table-borderless" *ngIf="messages.length > 0">
			<tr *ngFor="let m of messages; index as i">
					<td style="width:100%; text-align:justify; border:2; box-shadow:2px 5px 10px #AAAAAA" valign="top">
						<div class="d-flex flex-row-reverse">
							<small><span>{{ m.messageDate | date: 'yyyy-MM-dd' }}</span></small>
						</div>

						<span id="messagetext" [innerHTML]="m.messageText | safe: 'html'"></span>
					</td>
				<br>
			</tr>
		</table>
	</div>
</body>
