@import "~@ng-select/ng-select/themes/default.theme.css";

body::-webkit-scrollbar {
    width: 0.5rem; 	
 }
 
 body::-webkit-scrollbar-track {
     background: #1e1e24;
 }
 
 body::-webkit-scrollbar-thumb {
 background: #0052A6;
 }

 .ng-select.ng-select.ng-select-single.ng-select-filtered:not(.ng-select-opened) .ng-select-container.ng-has-value .ng-value-container .ng-value { 
     visibility: visible; 
 }

 .ng-select .ng-select-container .ng-value-container .ng-input, .ng-select .ng-select-container .ng-value-container .ng-input>input{
    background: none!important;
 }

//  /* modal animation */
.modal-content{
    animation-name: example;
    animation-duration: 0.3s;
  }
  
  @keyframes example {
    0%   {transform: scale(0.5)}
    75%  {transform: scale(1.1)}
    100% {transform: scale(1)}
  }
// ---------------------------
// ALL
// ---------------------------
.light-mode {
    background-color:#F3F3FC; 
    color:#101010;
}

.light-mode #topmenu{
    background-color: #0072C6;
}

.light-mode {
    #hellogalaxy_dark{    
        display:none;
    }

    #hellogalaxy_demon{
        display:none;
    }

}

.dark-mode{
    #hellogalaxy_light{
        display:none;
    }

    #hellogalaxy_demon{
        display:none;
    }
}

.hell-mode{
    #hellogalaxy_light{
        display:none;
    }
    #hellogalaxy_dark{
        display:none;
    }
}

.light-mode #logo_big a{
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-size: 150%;
    color:#FFFFFF;
    text-shadow:2px 2px #9999FF;
}

.light-mode #logo_small a {
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-size: 130%;
    text-shadow:2px 2px #9999FF;
}

.dark-mode #topmenu{
    background-color: #202020;
}

.dark-mode #logo_big a{
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-size: 150%;
    color:#FFFFFF;
    text-shadow:2px 2px #9999FF;
}

.dark-mode #logo_small a {
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-size: 130%;
    text-shadow:2px 2px #9999FF;
}

.dark-mode {
    background-color:#000000; 
    color:#101010;
}

.dark-mode #basepanelleft {
    background-color:#101010;
    color:#F3F3FC; 
}

.dark-mode #basepanelright {
    background-color:#101010;
    color:#F3F3FC; 
}

.hell-mode {
    /*background-image: url("https://image.freepik.com/free-photo/blaze-fire-flame-texture-background_133982-16.jpg");*/
    background-image: url("./assets/images/hell.jpg");
    background-attachment: fixed;
    
    background-size: cover;
    background-color:#201010; 
    color:#f70b0b;
}

.hell-mode #logo_big a {
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-size: 150%;
    text-shadow:2px 2px #c9520e;
}

.hell-mode #logo_small a {
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-size: 130%;
    text-shadow:2px 2px #c9520e;
}

.hell-mode #basepanelleft {
    background-color: transparent;
    color:rgb(218, 181, 21); 
}

.hell-mode #basepanelright {
    background-color: transparent;
    color:#f70b0b; 
}

.hell-mode a {
    background-color:#000000;    
    color:rgb(218, 181, 21); 
}

.hell-mode #topmenu {
    background-color:#b80202;    
    color:rgb(218, 181, 21); 
}

.hell-mode #topmenu a {
    background-color:#b80202;    
    color:rgb(218, 181, 21); 
}

.hell-mode #topmenu a:hover {
    background-color:#b80202;    
    color:rgb(230, 255, 5); 
}

// CENTER PANEL
// ---------------------------
// CENTER PANEL: LIGHT MODE
// ---------------------------
.light-mode #centerpanel {
    background-color:#FFFFFF; 
    color:#101010;
}

.light-mode #centerpanel div{
    background-color:#FFFFFF; 
    color:#101010;
}

.light-mode #centerpanel table{
    background-color:#FFFFFF; 
    color:#101010;
}

.light-mode #centerpanel body{
    background-color:#FFFFFF; 
    color:#101010;
}

// .light-mode #centerpanel ol{
//     background-color:#FFFFFF; 
//     color:#101010;
// }

// ---------------------------
//   CENTER PANEL: DARK MODE
// ---------------------------
.dark-mode #centerpanel {
    background-color:#000000;
    color:#F3F3FC; 
}

.dark-mode a{
    background-color:rgba(0, 0, 0, 0.0);
    color:rgb(247, 205, 19); 
}

.dark-mode #centerpanel div{
    background-color:#000000;
    color:#FFFFFF; 
}

.dark-mode #centerpanel table{
    background-color:#000000;
    color:#FFFFFF; 
}

.dark-mode #centerpanel body{
    background-color:#000000;
    color:#FFFFFF; 
}

.dark-mode #centerpanel ol{
    background-color:#202020;
    color:#FFFFFF; 
}

.hell-mode #centerpanel {
    background-color:#000000;
    color:#f70b0b; 
}

.hell-mode #centerpanel div{
    background-color:#000000;
    color:#f70b0b; 
}

.hell-mode #centerpanel table{
    background-color:#000000;
    color:#f70b0b; 
}

.hell-mode #centerpanel body{
    background-color:#000000;
    color:#f70b0b; 
}

.hell-mode #centerpanel ol{
    background-color:#000000;
    color:#f70b0b; 
}

.hell-mode a{
    background-color:rgba(0, 0, 0, 0.0);
    color:rgb(247, 205, 19); 
}

.hell-mode #centerpanel mark{
    background-color:#000000;    
    color:rgb(233, 109, 93); 
}

.hell-mode button {
    color: #f70b0b; 
    border-color: #f70b0b; 
    background-color: #000000;
}

.dark-mode #neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
  }

  .hell-mode #neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #f30,
        0 0 82px #f30,
        0 0 92px #f30,
        0 0 102px #f30,
        0 0 151px #f30;
  }

  body{display:block !important}
