/* You can add global styles to this file, and also import other style files */
//  Light(1, "Light", "body{ background:#F3F3FC; color:#101010; } #centerpanel{background:#FFFFFF;} ")
//  , Dark(2, "Dark", "body{ background:#000000; color:#F3F3FC } #centerpanel{ background:#101010; color:#F3F3FC } #gamelistitem{background:#202020; color:#F3F3FC} td {background:#202020; color:#F3F3FC} .breadcrumb { background:#202020; } code{ background:#404040 } pre{background:#101010; color:#F3F3FC}")

// ---------------------------
// ALL
// ---------------------------
.light-mode {
    background-color:#F3F3FC; 
    color:#101010;
}

.dark-mode {
    background-color:#101010; 
    color:#101010;
}

.dark-mode #basepanelleft {
    background-color:#202020;
    color:#F3F3FC; 
}

.dark-mode #basepanelright {
    background-color:#202020;
    color:#F3F3FC; 
}

// CENTER PANEL
// ---------------------------
// CENTER PANEL: LIGHT MODE
// ---------------------------
.light-mode #centerpanel {
    background-color:#FFFFFF; 
    color:#101010;
}

.light-mode #centerpanel div{
    background-color:#FFFFFF; 
    color:#101010;
}

.light-mode #centerpanel table{
    background-color:#FFFFFF; 
    color:#101010;
}

.light-mode #centerpanel body{
    background-color:#FFFFFF; 
    color:#101010;
}

// .light-mode #centerpanel ol{
//     background-color:#FFFFFF; 
//     color:#101010;
// }

// ---------------------------
//   CENTER PANEL: DARK MODE
// ---------------------------
.dark-mode #centerpanel {
    background-color:#000000;
    color:#F3F3FC; 
}

.dark-mode #centerpanel div{
    background-color:#000000;
    color:#FFFFFF; 
}

.dark-mode #centerpanel table{
    background-color:#000000;
    color:#FFFFFF; 
}

.dark-mode #centerpanel body{
    background-color:#000000;
    color:#FFFFFF; 
}

.dark-mode #centerpanel ol{
    background-color:#202020;
    color:#FFFFFF; 
}
